@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*
{
    font-family: 'Roboto', sans-serif!important;
}

button.btn.submit-btn{
    background-color: #472BAE !important;
    box-shadow:0 8px 17px 0 rgba(0, 0, 0, 0.2);
    color:#fff;
}

.container, .container-fluid {
    background-color: #00b4d8;
    height:100vh;
    padding-top:16px;
}

#signUp-div
{
    background-color:#fff;
}

body
{
    background-color: #00b4d8!important;
}

input
{
    background-color: #FBFEFF!important;
}

.card
{

    box-shadow:0 8px 17px rgba(0, 0, 0, 0.2);
}


.hero-img
{
    background-image:url("main.PNG");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:300px;
    margin-bottom:20px;
    border-radius:4px;
}

.signup-btn
{
    background-color:#c71fe9 !important;
    color:#fff!important;
    border:1px solid #9600B5!important;
    width:100%;
    height:50px;
}